@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1582819509237-d5b75f20ff7a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-size: cover;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  margin-top: 1vw;
  width: 90%;
  display: flex;
  flex-direction: column;
  border: solid;
  border-image-source: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngarts.com%2Ffiles%2F1%2FGolden-Frame-PNG-Photo.png&f=1&nofb=1);
  border-image-slice: 15%;
  border-image-width: 50px;
  background-image: linear-gradient( rgb(187, 215, 231), rgb(213, 221, 223), rgb(187, 215, 231));
  color: rgb(59, 25, 20);
  justify-content: center;
  align-items: center;
}

h1, h2, #est {
  font-size: 10vw;
  margin: 0.5em;
  text-align: center;
}

h1 {
  margin-top: 50px;
}


#est{
  font-family: Ballet;
  margin-bottom: 50px;
}




.menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10vw;
  padding-top: 20px;
  padding: 1px;
  width: 70%;
  flex: 1 1 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fchalkboard-blackboard-texture-with-copy-space-blank-picture-id1020105066%3Fk%3D6%26m%3D1020105066%26s%3D170667a%26w%3D0%26h%3Dc2z1RyiKEbfu4pRJinuTgYsDTDkR7vJdZ6Dm1IRtruQ%3D&f=1&nofb=1);
  background-size: cover;
  border-radius: 40px;
  height: fit-content;
  /* overflow: auto; */
}

#about {
  color: white;
  font-family: Rouge Script;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  justify-content: center;
  width: 70%;
  border-radius: 40px;
  background-color: goldenrod;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  perspective: 1000px;
  overflow: scroll;
}

h3 {
  position: relative;
  top: 90%;
  font-size: 5vw;
}

h5 {
  text-align: center;
  font-family: Rouge Script;
}

.inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner-card {
  transform: rotateY(180deg);
}

.front-card, .back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.front-card {
  background-color: black;
  color: black;
  overflow: hidden;
}

.back-card {
  background-color: goldenrod;
  color: black;
  transform: rotateY(180deg);
  overflow: scroll;
}

.image {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
  }
}


