@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');
/* @font-face {
  font-family: saloon-title1;
  src: url("/Users/dylanross/generalAssembly/sei/topaz/unit_1/project1/hometender/Jfringmaster-jVPl.ttf");
}
@font-face {
  font-family: saloon-title2;
  src: url("/Users/dylanross/Downloads/hells-rider-font/HellsRider-Eg8e.ttf");
}
@font-face {
  font-family: about-font;
  src: url("/Users/dylanross/Downloads/kg-second-chances-font/KgSecondChancesSketch-KpAp.ttf");
} */

* {
  box-sizing: border-box;
}

body {
  flex-wrap: nowrap;
  background-image: url(https://images.unsplash.com/photo-1582819509237-d5b75f20ff7a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-size: cover;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div, h1, h2, p {
  border: 2px solid black;
}


#logo {
  width: 90%;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  /* border-image-source: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.polyurethanesupplierschina.com%2Fupfile%2Fproduct%2FPolyurethane-framing-supplies-8x12-frame-4x6-picture-frames-photo-frame-maker-custom-frame_2.jpg&f=1&nofb=1); */
  border-image-source: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngarts.com%2Ffiles%2F1%2FGolden-Frame-PNG-Photo.png&f=1&nofb=1);
  border-image-slice: 15%;
  border-image-width: 50px;
  background-image: linear-gradient( rgb(187, 215, 231), rgb(213, 221, 223), rgb(187, 215, 231));
  font-family: saloon-title2;
  color: rgb(59, 25, 20);
}

h1, h2, #est {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1.5em;
  text-align: center;
}

#est{
  font-family: Ballet;
  font-size: 2em;
  margin-top: 5px;
}




.menu {
  width: 70%;
  flex: 1 1 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fchalkboard-blackboard-texture-with-copy-space-blank-picture-id1020105066%3Fk%3D6%26m%3D1020105066%26s%3D170667a%26w%3D0%26h%3Dc2z1RyiKEbfu4pRJinuTgYsDTDkR7vJdZ6Dm1IRtruQ%3D&f=1&nofb=1);
  /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn4.vectorstock.com%2Fi%2F1000x1000%2F52%2F23%2Fblank-menu-on-blackboard-vector-21645223.jpg&f=1&nofb=1); */
  background-size: cover;
  border-radius: 40px;
  height: fit-content;
  block-size: fit-content;
}

#about {
  font-family: about-font;
  color: white;
  padding-bottom: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  perspective: 1000px;
}

.inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner-card {
  transform: rotateY(180deg);
}

.front-card, .back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front-card {
  background-color: black;
  color: black;
}

.back-card {
  background-color: goldenrod;
  color: black;
  transform: rotateY(180deg);
}

.image {
  width: 100%;
}




