/* @import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');
@font-face {
  font-family: saloon-title1;
  src: url("/Users/dylanross/generalAssembly/sei/topaz/unit_1/project1/hometender/Jfringmaster-jVPl.ttf");
}
@font-face {
  font-family: saloon-title2;
  src: url("/Users/dylanross/Downloads/hells-rider-font/HellsRider-Eg8e.ttf")
} */
body {
  background-image: url(https://images.unsplash.com/photo-1582819509237-d5b75f20ff7a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-size: cover;
}

div, h1, h2, p {
  border: 2px solid black;
}

.home, .search {
  display: flexbox;
}

#logo {
  width: 90%;
  height: 300px;
  margin: 100px auto;
  border-image-source: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngarts.com%2Ffiles%2F1%2FGolden-Frame-PNG-Photo.png&f=1&nofb=1);
  border-image-slice: 15%;
  border-image-width: 50px;
  border-image-outset: 0;
  background-image: linear-gradient( rgb(187, 215, 231), rgb(213, 221, 223), rgb(187, 215, 231));
}

h1, h2, #est {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1.5em;
  text-align: center;
}

#est{
  font-family: Ballet;
  font-size: 2em;
  margin-top: 5px;
}

h1, h2 {
  font-family: saloon-title2;
  color: rgb(59, 25, 20);
  font-size: 3em;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin: 5px;
}







